<h1 class="form-title">Weather Forecast</h1>

<div class="weather-container">
  <h2><%= @city_name %>, <%= @country %></h2>
  <p><strong>Temperature:</strong> <%= @temperature %>°F (Feels like <%= @feels_like %>°F)</p>
  <p><strong>Humidity:</strong> <%= @humidity %>%</p>
  <p><strong>Wind Speed:</strong> <%= @wind_speed %> m/s</p>
  <p><strong>Weather:</strong> <%= @weather_main %> - <%= @weather_description %></p>
  <p><strong>Cloudiness:</strong> <%= @cloudiness %>%</p>
</div>
<div class="home-button">
<a href="/forecast/new" class="button">New Forecast</a>

</div>
